@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.5rem;
  --background: #f8f9fc;
  --foreground: #1a2563;
}

html {
  overflow-x: clip;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Rockwell, "Rockwell Nova", "Roboto Slab", "Segoe UI", Arial,
    sans-serif;
  overflow-x: clip;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
